* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background: #007BFF;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.hero {
    background-image: url("Downloads/9681.jpg_860.jpg");
    color: #000000;
    padding: 60px 40px;
    text-align: center;
    background-size: cover; 
    background-position: center; 
}
.cta-button {
    background: #28a745;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition:0.3s;
}

.cta-button:hover {
    background: #218838;
}

.features {
    padding: 20px;
    text-align: center;
}

.features h2 {
    margin-bottom: 20px;
}

.feature {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
    width: calc(33% - 40px);
}

footer {
    text-align: center;
    padding: 20px;
    background: #007BFF;
    color: #fff;
  
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .feature {
        width: calc(100% - 40px);
    }
}